{% extends 'layouts/app_layouts.html' %}
{% load app_filter %}
{% block body_content %}
{% include 'includes/console_left_menu.html' with active=page_kwargs.function %}
<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
    {% include 'includes/console_header.html' %}
  <div class="content d-flex flex-column flex-column-fluid pt-0" id="kt_content">
      <div class="header-container bg--secondary--blue w-100">
        <div class="px-md-10 py-md-10 px-5 py-5 w-100 d-none d-md-block">
          <div class="d-flex flex-stack flex-wrap flex-lg-nowrap gap-4 gap-lg-10">
            <div class="page-title d-flex flex-column align-items-start me-3">
              <h1 class="page-heading d-flex text-white fw-bold fs-1 flex-column justify-content-center my-0 mb-5">
              </h1>
              <small class="text-light small fw-normal"></small>
            </div>
          </div>
        </div>
      </div>
      
      <div class="header-offset"></div>
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <div id="kt_content_container" class="container-fluid data-content">
                <div class="card mb-5 mb-xxl-8 ">
                    <div class="card-body pb-0 overflow-auto p-3 pt-0 py-md-0 px-md-10">
                        
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="kt_profile_details_view" role="tabpanel"
                        aria-labelledby="kt_profile_details_tab">
                        <div class="row g-6 g-xl-9">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header min-h-1px mt-4 px-5">
                                        <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bolder">
                                            <li class="nav-item mt-2">
                                                <p class="nav-link text-active-primary ms-0 me-10 py-5 active">Role Overview</p>
                                            </li>
                                            <li class="nav-item mt-2">
                                                <a id="kt_photos_tab" class="nav-link text-active-primary ms-0 me-10 py-5" href="">Role Members</a>
                                            </li>
                                        </ul>
                                        <div class="card-toolbar">
                                            <a class="btn btn-outline btn-outline-primary text-hover-light btn-sm text-uppercase me-3" href="{% url 'mck_auth:mck_role_update' data.role.id %}">EDIT</a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table align-middle table-row-dashed mb-0 min-w-300px">
                                                <tbody>
                                                    <tr>
                                                        <td class="text-gray-600 w-25">Account Type</td>
                                                        <td>{{data.role.account_type.name|title|default:'-'}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-gray-600">Group Name</td>
                                                        <td>{{data.role.name|title|default:'-'}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="card h-lg-100">
                                        <div class="card-header min-h-1px mt-4 px-5">
                                            <div class="container-fluid d-flex flex-stack p-0">
                                            <div class="card-title flex-column">
                                                <h3 class="fw-bold mb-3">Permissions Overview </h3>
                                            </div>
                                            <div class="card-toolbar">
                                                <button type="button" onclick="is_read(this)" class="btn btn-outline btn-outline-primary text-hover-light btn-sm">CHANGE PERMISSIONS</button>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="card-body p-9 pt-5">
                                            
                                            {% for app_name, apps in data.role_permission.items %}
                                            <!-- <h5 class="mt-5 pt-5">{{apps.name}}</h5> -->
                                                {% for module_name, module in apps.module.items %}
                                                <a href="javascript:void(0)" class="row py-3 hover-scale text-decoration-none">
                                                    <div class="col-lg-2 fs-8">{{module.name|update_underscore_with_space|title}}</div>
                                                    {% for function_name, function in module.function.items %}
                                                    <div class="col-lg-2 mt-3 ">
                                                        <label class="form-check form-check-sm form-check-success form-check-custom form-check-solid me-5 me-lg-20">
                                                            <input class="form-check-input me-3 is_read_only" name="selected_id" value="{{function.function_id}}"
                                                            type="checkbox" disabled="true" {% if function.has_permission %}checked=""{% endif %}>
                                                            <span class="form-check-label">{{function_name|title|default:'View'}}</span>
                                                        </label>
                                                    </div>
                                                    {% endfor %}
                                                </a>
                                                {% endfor %}
                                            {% endfor %}
                                        </div>
                                        <div id="submit_btn" class="buttonHolder row col-12 pe-5 d-none">
                                            <div class="d-flex text-right justify-content-end p-0 py-5 col-12"> 
                                                <button type="button" class="btn btn-secondary me-3" onclick="window.location.reload()">CANCEL</button>
                                                <input type="submit" name="create_button" value="UPDATE" class="btn btn-primary btn btn-lg btn-primary" id="submit-id-create_button" autocomplete="create_button">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block body_js %}
<script>
    function is_read(self){
        $(".is_read_only").attr("disabled",false);
        $("#submit_btn").removeClass("d-none");
        $(self).hide();
    }
</script>
{% endblock %}