{% extends 'layouts/app_layouts.html' %}
{% load crispy_forms_tags %}
{% block body_content %}
{% include 'includes/console_left_menu.html' with active=page_kwargs.function %}
<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
  {% include 'includes/console_header.html' %}
  <div class="content d-flex flex-column flex-column-fluid pt-0" id="kt_content">
    <div class="sub-header header-container bg--secondary--blue w-100">
      <div class="px-10 w-100 pt-lg-15 pt-md-15 pt-5 position-relative">
        <div class="d-flex flex-stack flex-wrap flex-lg-nowrap gap-4 gap-lg-10">
          <div class="page-title d-flex align-items-center me-3">
            <h1 class="page-heading d-flex text-white fw-bold fs-1 flex-column justify-content-center my-0 mb-1">
              {% if mode == "edit" %}
              Update Role
              {% else %}
              Create Role
              {% endif %}
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="header-offset"></div>
    <div class="post d-flex flex-column-fluid" id="kt_post">
      <div id="kt_content_container" class="data-content container-fluid">
        <div class="card">
          <div class="card-header min-h-1px mt-4 px-5">
            <div class="container-fluid d-flex flex-stack p-0">
              <div class="card-title flex-column">
                <h3 class="fw-bold mb-3">
                  {% if mode == "edit" %}
                  Update Role Details
                  {% else %}
                  Create Role Details
                  {% endif %}
                </h3>
              </div>
            </div>
          </div>
          <form method="post" novalidate class="p-10" enctype="multipart/form-data">
            <fieldset>
              {% crispy form %}
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
{% block body_js %}
{% endblock %}