{% load static %}

<div class="app-sidebar">
    <div class="side-header">
        <h3>Wopper Admin</h3>
    </div>

    <div class="main-sidemenu">
        <ul class="side-menu">

            <!-- Dashboard -->
            <li class="sub-category"><h3>Dashboard</h3></li>
            <li class="slide">
                <a class="side-menu__item" href="{% url 'mck_website:mck_user_list' %}">
                    <i class="side-menu__icon bi bi-speedometer2"></i>
                    <span class="side-menu__label">user</span>
                </a>
            </li>

            <!-- Catalog -->
            <li class="sub-category"><h3>Catalog</h3></li>
            <li class="slide">
                <a class="side-menu__item" href="{% url 'mck_website:mck_category_list' %}">
                    <i class="side-menu__icon bi bi-grid"></i>
                    <span class="side-menu__label">Categories</span>
                </a>
            </li>
            <li class="slide">
                <a class="side-menu__item" href="{% url 'mck_website:mck_product_list' %}">
                    <i class="side-menu__icon bi bi-box-seam"></i>
                    <span class="side-menu__label">Products</span>
                </a>
            </li>
            <li class="slide">
                <a class="side-menu__item" href="{% url 'mck_website:mck_blog_list' %}">
                    <i class="side-menu__icon bi bi-journal"></i>
                    <span class="side-menu__label">Blogs</span>
                </a>
            </li>

            <!-- Content -->
            <li class="sub-category"><h3>Content</h3></li>
            <li class="slide">
                <a class="side-menu__item" href="{% url 'mck_website:mck_hero_banner_list' %}">
                    <i class="side-menu__icon bi bi-images"></i>
                    <span class="side-menu__label">Hero Banners</span>
                </a>
            </li>
            <li class="slide">
                <a class="side-menu__item" href="{% url 'mck_website:mck_homepage_video_list' %}">
                    <i class="side-menu__icon bi bi-camera-reels"></i>
                    <span class="side-menu__label">Homepage Videos</span>
                </a>
            </li>

            <!-- Customers -->
            <li class="sub-category"><h3>Customers</h3></li>
            <li class="slide">
                <a class="side-menu__item" href="{% url 'mck_website:mck_address_list' %}">
                    <i class="side-menu__icon bi bi-geo-alt"></i>
                    <span class="side-menu__label">Addresses</span>
                </a>
            </li>

            <!-- Orders -->
            <li class="sub-category"><h3>Orders</h3></li>
            <li class="slide">
                <a class="side-menu__item" href="{% url 'mck_website:mck_order_list' %}">
                    <i class="side-menu__icon bi bi-cart-check"></i>
                    <span class="side-menu__label">Orders</span>
                </a>
            </li>
            <li class="slide">
                <a class="side-menu__item" href="{% url 'mck_website:mck_order_item_list_all' %}">
                    <i class="side-menu__icon bi bi-cart"></i>
                    <span class="side-menu__label">Order Items</span>
                </a>
            </li>
            <li class="slide">
                <a class="side-menu__item" href="{% url 'mck_website:mck_payment_gateway_list' %}">
                    <i class="side-menu__icon bi bi-credit-card"></i>
                    <span class="side-menu__label">Payment Gateways</span>
                </a>
            </li>

            <!-- Marketing -->
            <li class="sub-category"><h3>Marketing</h3></li>
            <li class="slide">
                <a class="side-menu__item" href="{% url 'mck_website:mck_coupon_list' %}">
                    <i class="side-menu__icon bi bi-ticket-perforated"></i>
                    <span class="side-menu__label">Coupons</span>
                </a>
            </li>
            <li class="slide">
                <a class="side-menu__item" href="{% url 'mck_website:mck_newsletter_list' %}">
                    <i class="side-menu__icon bi bi-envelope"></i>
                    <span class="side-menu__label">Newsletter</span>
                </a>
            </li>

            <!-- Reviews -->
            <li class="sub-category"><h3>Feedback</h3></li>
            
            <li class="slide">
                <a class="side-menu__item" href="{% url 'mck_website:mck_contact_us_list' %}">
                    <i class="side-menu__icon bi bi-chat-dots"></i>
                    <span class="side-menu__label">Contact Messages</span>
                </a>
            </li>

            

        </ul>
    </div>
</div>