<!-- BOOTSTRAP CSS -->
<link id="style" href="{{page_kwargs.media_url}}admin_assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- STYLE CSS -->
<link href="{{page_kwargs.media_url}}admin_assets/css/style.css" rel="stylesheet">

<!--- PLUGINS CSS -->
<link href="{{page_kwargs.media_url}}admin_assets/css/plugins.css" rel="stylesheet">

<!--- ICONS CSS -->
<link href="{{page_kwargs.media_url}}admin_assets/css/icons.css" rel="stylesheet">

<!--- ANIMATE CSS -->
<link href="{{page_kwargs.media_url}}admin_assets/css/animated.css" rel="stylesheet">