{% extends 'layouts/app_layouts.html' %}
{% block body_content %}
{% include 'includes/console_left_menu.html' with active=page_kwargs.function %}
<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
    {% include 'includes/console_header.html' %}
    <div class="d-flex flex-column flex-root">
        <!--begin::Authentication - Signup Welcome Message -->
        <div class="d-flex flex-column flex-column-fluid">
            <!--begin::Content-->
            <div class="d-flex flex-column flex-column-fluid text-center p-5 pt-20 pt-lg-15">
                <!--begin::Logo-->
                <a href="#" class="pt-lg-15">
                    <img alt="Logo" src="{{page_kwargs.media_url}}img/logo.png" class="h-100px mb-5" />
                </a>
                <!--end::Logo-->
                <!--begin::Wrapper-->
                <div class="pt-lg-10 ">
                    <!--begin::Logo-->
                    <h1 class="fw-bolder fs-2qx  mb-7 text-hover-warning text-danger">ACCESS DENIED</h1>
                    <!--end::Logo-->
                </div>
                <!--end::Wrapper-->
                <!--begin::Illustration-->
                <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-300px min-h-lg-300px" style="background-image: url({{page_kwargs.media_url}}img/5-dark.png"></div>
                <!--end::Illustration-->
            </div>
            <!--end::Content-->
        </div>
        <!--end::Authentication - Signup Welcome Message-->
    </div>
</div>

{% endblock %}
{% block body_js %}
{% endblock %}