<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<!-- META DATA -->
	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<meta name="Description" content="mck Admin & Dashboard">
	<meta name="keywords" content="admin dashboard, admin-panel">
	<!-- TITLE -->
	<title>SRI VARAM MANAMALAI</title>
	<!-- FAVICON -->
	
	{% include 'includes/styles.html' %}
	{% block styles %}
	{% endblock %}
	<!-- INTERNAL SWITCHER CSS -->
	<link href="{{page_kwargs.media_url}}admin_assets/switcher/css/switcher.css" rel="stylesheet">
	<link href="{{page_kwargs.media_url}}admin_assets/switcher/demo.css" rel="stylesheet">
	{% block head_css %}
	{% endblock %}
</head>

<body class="app sidebar-mini ltr">
	<!--- GLOBAL LOADER -->
	<div id="global-loader">
		<img src="{{page_kwargs.media_url}}admin_assets/images/svgs/loader.svg" alt="loader">
	</div>
	<!--- END GLOBAL LOADER -->
	<!-- PAGE -->
	<div class="page">
		<div class="page-main" style="margin-top: 100px;">
					<!-- CONTAINER -->
					<div class="main-container container-fluid">
						<div class="page-content">
							<div class="container text-center text-white">
								<div class="row">
									<div class="col-lg-4 d-block mx-auto">
										<div class="row">
											<div class="col-xl-12 col-md-12 col-md-12">
												<div class="card bg-dark p-5">
													<div class="card-body">
														<div class="text-center mb-2">
															<!-- <a class="header-brand1" href="#">
																<img src="https://scontent-maa3-1.xx.fbcdn.net/v/t39.30808-1/465841801_122117908034523586_114909868623525558_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=103&ccb=1-7&_nc_sid=2d3e12&_nc_ohc=3tGsC-l_BRoQ7kNvwHuffPZ&_nc_oc=AdlQOiC6NaiWdQkducCc6Q6S43GxppAoZ55pgAEC1iWG84TPr5M3Jdie7OVntM2dRqY&_nc_zt=24&_nc_ht=scontent-maa3-1.xx&_nc_gid=cRX7LaJISWqrpJ3M_edShQ&oh=00_AfWafJG4ZlqxFLcXeE9PZ1Q7tye-ZGsdumwnyN34mwjYLA&oe=68B1DD8B"
																	class="header-brand-img main-logo"
																	alt="mck logo">
															</a> -->
														</div>
														<h3>Login</h3>
														<p class="text-white">Sign In to Admin Portal</p>
														<form method="post"
															class="{% if error == True %}was-validated{% endif %}"
															novalidate>
															{% csrf_token %}
															{% if message %}<div
																style="width: 100%;margin-block-start: 0.25rem;font-size: 87.5%;color: #ec2d38; margin-bottom: 10px;">
																{{message}} </div>{% endif %}
															<div class="input-group mb-3">
																<span class="input-group-addon bg-white"><i
																		class="fa fa-user text-muted-dark"></i></span>
																<input type="text" name="email" class="form-control"
																	placeholder="Email address" required>
																{% if username_error == True %}<div
																	class="invalid-feedback"> Email is Required. </div>
																{% endif %}
															</div>
															<div class="input-group mb-4">
																<span class="input-group-addon bg-white"><i
																		class="fa fa-unlock-alt text-muted-dark"></i></span>
																<input type="password" name="password"
																	value="{{password}}" class="form-control"
																	placeholder="Password" required>
																{% if password_error == True %}<div
																	class="invalid-feedback"> Password is Required.
																</div>{% endif %}
															</div>
															<div class="row">
																<div>
																	<button type="submit"
																		class="btn btn-primary btn-block">Login</button>
																</div>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			<!-- END MAIN-CONTENT -->
		</div>
	</div>
	<!-- END PAGE-->

	<!-- SCRIPTS -->
	{% include 'includes/scripts.html' %}
	<!-- STICKY JS -->
	<script src="{{page_kwargs.media_url}}admin_assets/js/sticky.js"></script>

	<!-- COLOR THEME JS -->
	<script src="{{page_kwargs.media_url}}admin_assets/js/themeColors.js"></script>

	<!-- CUSTOM JS -->
	<script src="{{page_kwargs.media_url}}admin_assets/js/custom.js"></script>

</body>

</html>